body {
    background-color: black;
    background-size: 100% 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ff7f50;
}

a:hover {
    color: lightsalmon;
}

div.navbar {
    padding: 11px 0px;
    border-bottom: 1px solid white;
}

.logo {
    float: left;
    font-size: 20px;
    padding: 5px 0px;
}

.page-link {
    float: right;
    font-size: 1rem;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px 12px;
}

/* ---------- IMAGE GALLERY ---------- */

.container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%; 
}

h1, h2 {
    float: right;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    margin: 5px;
    text-align: center;
}

h1 {
    color: white;
    width: 50%;
}

h2 {
    clear: both;
    width: 30%;
}

img {
    border-radius: 10px;
    height: 300px;
    margin: 15px;
    width: 450px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

/* ----------------------------------- */