/* ---------- IMAGE GALLERY ---------- */

.container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%; 
}

h1, h2 {
    float: right;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    margin: 5px;
    text-align: center;
}

h1 {
    color: white;
    width: 50%;
}

h2 {
    clear: both;
    width: 30%;
}

img {
    border-radius: 10px;
    height: 300px;
    margin: 15px;
    width: 450px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

/* ----------------------------------- */